{% extends 'layout.html' %}

{% block content %}

<div style="margin-top:100px; margin-bottom: 170px;" class="container">

    <img class="center" src="{{url_for('static', filename='img/order-confirmed-page.png')}}" style="object-fit: cover; width:70%; padding-left:280px">
    <br>
    <h3 style="padding-left:400px;">Your Order Confirmed!</h3>
    <h6 style="padding-left:430px;">Your order has been confirmed.</h6> 
    <h6 style="padding-left:120px;">Your order information has been sent to your e-mail address. Don't forget to check your spam box. Thank you for choosing us.</h6>
    </div>






{% endblock content %}








